<section class="submit-area">
    <div class="container">
        <label for="activity"><b>Activity</b></label>
        <input id="activity" type="text" placeholder="Enter activity" name="activity"/>

        <label for="duration"><b>Duration</b></label>
        <input id="duration" type="text" placeholder="Enter duration" name="duration"/>

        <button id="submit-button" type="submit">Submit</button>
    </div>
    <div id="logout">
        <button id="logout-button" type="submit">Logout</button>
    </div>

</section>
<h1>Activity History</h1>
<section class="content-area">
    <div id="goalList">
    </div>
</section>
<script src="./js/homepage.js"></script>