<section>
    <div class="container">
        <div class="log-in">
            <label for="uname"><b>Username</b></label>
            <input id="username" type="text" placeholder="Enter Username" name="uname"/>

            <label for="email"><b>Email</b></label>
            <input id="email" type="text" placeholder="Enter Email" name="email"/>

            <label for="psw"><b>Password</b></label>
            <input id="password" type="password" placeholder="Enter Password" name="psw"/>

            <button id="login-button" type="submit">Login</button>
        </div>
        <div class="sign-up">
            <label for="uname-sign"><b>Username</b></label>
            <input id="username-sign" type="text" placeholder="Enter Username" name="uname-sign"/>

            <label for="email-sign"><b>Email</b></label>
            <input id="email-sign" type="text" placeholder="Enter Email" name="email-sign"/>

            <label for="psw-sign"><b>Password</b></label>
            <input id="password-sign" type="password" placeholder="Enter Password" name="psw-sign"/>

            <button id="sign-up-button" type="submit">Sign up</button>
        </div>
    </div>
</section>
<script src="/js/login.js"></script>