<section>
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input id="username" type="text" placeholder="Enter Username" name="uname"/>

        <label for="email"><b>Email</b></label>
        <input id="email" type="text" placeholder="Enter Email" name="email"/>

        <label for="psw"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="psw"/>

        <button id="login-button" type="submit">Login</button>
    </div>
</section>
<script src="./js/login.js"></script>